.boxshadow {
  background: #fff;
  border-radius: 15px;
  display: flex;
  float: left;
  height: 170px;
  padding: 1%;
  width: 43vh;
  height: 100%;
  margin: 2.5%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

img {
    width: 50%;
    height: 100%;
    border-radius: 15px 0 0 15px; 
}

label {
  color: #01ABA4;

}

a {
  height: 50%;
  text-decoration: none;
}