.float-bar {
    display: flex;
    border-radius: 20px;
    font-family: sans-serif;
    background: #01ABA4;
    padding: 5px;
    width: 50%;
    margin: 100px 100px 20px 100px;
}

.float-bar button {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    color: white;
    background: #01ABA4;
    border: none;
    font-size: 30px;
    font-weight: 700;
}