.create-product-container {
    margin: 40px 10px 10px 10px;
    font-size: 30px;
}

.create-product-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}

.create-product-input {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.form-control-lg { 
    height: calc(1.5em + 1rem + 2px);
    padding: 2.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}